<html> 
    <body> 
        <h1> Predict Bankruptcy </h1> 
        <form action="/" method="post"> 
            <p>Please enter Net Profit/Total Asset Ratio:</p> 
            <p><input type="number" step="0.01" name="NP_TA"></p> 
            <p>Please enter Total Liability/Total Asset Ratio:</p> 
            <p><input type="number" step="0.01" name="TL_TA"></p> 
            <p>Please enter Working Capital/Total Asset Ratio:</p> 
            <p><input type="number" step="0.01" name="WC_TA"></p> 
            <p><input type="submit" value="enter"></p> 
        </form> 
        {{result}} 
    </body> 
</html>